body {
    font-family: tahoma;
    color:#282828;
    margin: 0px;
  }
  
  .nav-bar {
    background: linear-gradient(-90deg, #002C76, #1f78e4);
    height: 50px;
    margin-bottom: 15px;
  }

  .product {
    display: flex;
    flex-flow: wrap;
    padding: 1rem;
  }

  .center {
    text-align: center;
  }

  .grid-container {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    text-align: center;
  }

  img {
    border: 1px solid #d8d8d8;
    width: 70%;
    margin: 40px;
    box-shadow: 0px .5px 1px #d8d8d8;
  }

  .back-img {
    border: 1px solid #d8d8d8;
    width: 20%;
    margin: 10px;
    box-shadow: 0px .5px 1px #d8d8d8;
  }
  
  .product-image {
    width: 60px;
    height: 50px;
    text-align: left;
  }

  .logo-image {
    width: 60px;
    height: 50px;
    text-align: center;
    width: 50%;
    margin: auto;
  }

  .product-image-back {
    display: flex;
    flex-flow: wrap;
    padding: 2rem;
    width: 30px;
    height: 50px;
    text-align: left;
    margin-top: 10px;
    width: 20%;
  }
  
  .product-image,
  .product-info {
    margin-top: 10px;
    width: 50%;
  }
  
  button {
    margin-top: 30px;
    border: none; /* 2px solid #84888B; */
    border-radius: 25px;
    background-color: #1f78e4; /* #1E95EA; */
    color: white;
    height: 100px;
    width: 250px;
    font-size: 25px;
  } 

  .back-button {
    text-align: center;
    margin-top: 30px;
    border: none; /* 2px solid #84888B; */
    border-radius: 25px;
    background-color: #1f78e4; /* #1E95EA; */
    color: white;
    height: 50px;
    width: 50px;
    font-size: 25px;
  }
  
  textarea {
    width: 100%;
    height: 60px;
  }

  .intro {
    background-image: "../frontend/row2.jpeg";
    height: 100vh;
  }

  /***************************************/
  /* Schedule and Calendar */
  /***************************************/

  .schedule{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Quicksand",sans-serif;
    font-size: 62.5%;
  }

  .container{
    width: 100%;
    height: 150vh;
    font-size: 62.5%;
    background-color:#002C76;
    color:azure;
    display: flex;
    justify-content: center;
    align-items:center;
  }

  .calendar{
    width:45rem;
    height:52rem;
    background-color:black;
    box-shadow:0 0.5rem 3rem rgba(0,0,0,0.4);
  }

  .month{
    width:91.5%;
    height:12rem;
    background-color:cornflowerblue;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
  }

  .month i {
    font-size:2.5rem;
    cursor:pointer;
  }

  .month h1 {
    font-size:3rem;
    font-weight:400;
    text-transform:uppercase;
    letter-spacing:0.2rem;
    margin-bottom:1rem;
  }

  .month p {
    font-size:1.6rem;
  }

  .weekdays {
    width:100%;
    height:5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
  }

  .weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width:calc(44.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow:0 0.3rem 0.5rem rgba(0,0,0,0.5);
  }

  .days{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    padding: 0.2rem;
  }

  .days div{
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem/7);
    height:5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
    transition:background-color 0.2s;
  }

  .days div:hover:not(.today){
    background-color: black;
    border: 0.2rem solid #777;
    cursor:pointer;
  }

  .prev-date,
  .next-date{
    opacity: 0.5;
  }

  .today {
    background-color:cornflowerblue;
  }


  /***************************************/
  /* Tables */
  /***************************************/

  table {
    border-collapse: collapse;
    width: 100%;
    color: #002C76;
    font-family:"Quicksand",sans-serif;
    font-size: 20px;
    text-align: left;
    justify-content: center;
    align-items:center;
}
th {
    background-color: #1f78e4;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2
}
